<html>
<head>
<link rel="stylesheet" href="stylesheets/home.css">
</head>

<body>

  <div>
    <!-- Home Section -->
    <section class="home section active" id="home">
      <div class="container">
        <div class="intro" style="margin-top: 10px; margin-bottom: 60px;">
          <img src="images/home_page_solo.png" alt="sudhir_image" class="shadow-dark"
            style="border-radius: 50%; width: 225px; height: 214px;">
          <h1 style="font-size: 50px;"> Sudhir Dhameliya </h1>
          <p style="font-size: x-large;"> I'm Android and Web Developer </p>
          <div class="social-link">
            
            {{!-- target="_blank" opens link in new window --}}
            <a href={{facebook}} target="_blank"> <img src="images/facebook.svg"
                style="width: 50px; height: 50px;"> </a>

            <a href={{linkedin}} target="_blank"> <img
                src="images/linkedin.svg" style="width: 50px; height: 50px;"> </a>
            
            <a href={{gmail}} target="_blank"> <img src="images/gmail.svg"
                style="width: 50px; height: 50px;"> </a>
            
            <a href={{github}} target="_blank"> <img src="images/github.svg"
                style="width: 50px; height: 50px;"> </a>
            
            <a href={{instagram}} target="_blank"> <img src="images/instagram.svg"
                style="width: 50px; height: 50px;"> </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Home Section End -->
  </div>
</body>

</html>